DISCORD_TOKEN=remplace_par_le_token_du_bot
CLIENT_ID=remplace_par_id_application_discord
GUILD_ID=remplace_par_id_du_serveur
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=4173
DASHBOARD_API_URL=http://127.0.0.1:4174
DASHBOARD_PUBLIC_API_URL=
DASHBOARD_START_BOT=true
